[Unit]
Description=Anbox Session Manager

[Service]
Environment="EGL_PLATFORM=x11"
ExecStart=/snap/bin/anbox session-manager

[Install]
WantedBy=graphical-session.target
