[Unit]
Description=Anbox Session Manager
Requires=anbox-session-manager.service
After=anbox-session-manager.service

[Service]
ExecStart=/snap/bin/anbox.appmgr

[Install]
WantedBy=graphical-session.target
