[Unit]
Description=cpufetch

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/snap enable cpufetch
ExecStop=/usr/bin/snap disable cpufetch

[Install]
WantedBy=graphical.target
