[Desktop Entry]
Name=NVIDIA Geforce Now
Comment=NVIDIA GFN Cloud Gaming
Exec=/usr/bin/google-chrome --app=https://play.geforcenow.com/
Icon=google-chrome
Terminal=false
Type=Application
Categories=Game;
