[Unit]
Description=GIMP
BindTo=graphical.target

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/snap enable gimp
ExecStop=/usr/bin/snap disable gimp

[Install]
WantedBy=graphical.target
