[Unit]
Description=Waydroid Full UI
Requires=weston.service
BindTo=weston.service

[Service]
Environment="WAYLAND_DISPLAY=waydroid"
ExecStart=/usr/bin/waydroid show-full-ui
ExecStop=/usr/bin/waydroid session stop

[Install]
WantedBy=multi-user.target
