[Unit]
Description=Waydroid Session

[Service]
Environment="WAYLAND_DISPLAY=waydroid"
ExecStart=/usr/bin/waydroid session start
ExecStop=/usr/bin/waydroid session stop

[Install]
WantedBy=graphical-session.target
