[Desktop Entry]
Exec=/bin/bash /home/winesap/.winesapos/WinesapDualboot.sh
Name=winesapOS Dualboot Beta Setup
Comment=winesapOS setup but for dualbooting
Encoding=UTF-8
Icon=/home/winesap/.winesapos/winesapos_logo_icon.png
Terminal=false
Type=Application
Categories=Application
