[Unit]
Description=Update all Flatpaks.

[Service]
Type=oneshot
TimeoutSec=infinity
ExecStartPre=/bin/sleep 300
ExecStart=/usr/bin/flatpak update -y --noninteractive
ExecStart=/bin/systemctl --no-reload disable %n

[Install]
WantedBy=multi-user.target
