[Desktop Entry]
Exec=/bin/zsh /home/winesap/.winesapos/winesapos-upgrade-remote-stable.sh
Name=winesapOS Upgrade
Comment=Upgrade winesapOS features to the latest stable version
Encoding=UTF-8
Icon=/home/winesap/.winesapos/winesapos_logo_icon.png
Terminal=false
Type=Application
Categories=Application
