[Desktop Entry]
Name=Xbox Cloud Gaming
Comment=Run Xbox xCloud
Exec=/usr/bin/eatmydata /usr/bin/flatpak run com.google.Chrome --app=https://www.xbox.com/en-us/play
Icon=com.google.Chrome
Terminal=false
Type=Application
Categories=Game;
